<h1>Saque</h1>
<% if @error %>
<div class="alert-error">
    <div class="alert-message"><%= @error %></div>
</div>
<% end %>
<% if @success %>
<div class="alert-success">
    <div class="alert-message"><%= @success %></div>
</div>
<% end %>
<div class="form">
<%= form_with url: "/withdraw/create", method: :post do |f| %>
    <div class="fieldset">
        <%= f.label :value, "Digite o valor que deseja sacar (R$):" %>
        <%= f.number_field :value, required: true, step: 0.01 %>
    </div>
    <div class="fieldset">
        <%= f.submit "Sacar" %>
    </div>

<% end %>
</div>